# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
*.md
src/main/resources/LICENSE.txt
src/main/resources/README.txt
src/main/resources/changelog.txt
src/changelog.txt
src/LICENSE.txt
src/README.md
